<div class="stadium-detail-container" *ngIf="stadium">

  <!-- Imagen principal -->
  <div class="header-image">
    <img [src]="'http://localhost:8000/' + stadium.imagenPrincipal" />
  </div>

  <h1>{{ stadium.name }}</h1>

  <p class="description">{{ stadium.descripcion }}</p>

  <!-- Información principal -->
  <div class="info-box">
    <p><strong>Ciudad:</strong> {{ stadium.ciudad }}</p>
    <p><strong>Capacidad:</strong> {{ stadium.capacidad | number }}</p>
  </div>

  <!-- Galería -->
  <div class="gallery" *ngIf="stadium.galeria?.length">
    <h3>Galería</h3>

    <div class="gallery-grid">
      <img 
        *ngFor="let img of stadium.galeria"
        [src]="'http://localhost:8000/' + img"
        class="gallery-item"
      />
    </div>
  </div>

  <div class="global-toast" *ngIf="toastMessage">
  {{ toastMessage }}
</div>



  <div class="content">
    <h1>{{  stadium.name  }}</h1>

    <app-review
  [itemId]="stadium.id"
  [itemType]="'stadium'"
  [parentReviews]="reviews"
  (refreshReviews)="onRefreshReviews()">
</app-review>



  </div>


  
</div>
