<div class="main-container">
    <div class="card">
        <a href="/login">Login</a>
    </div>
    <div class="card">
        <a href="/profile">Profile</a>
    </div>
    <div class="card">
        <a href="/register">Signin</a>
    </div>
    <div class="card">
        <a href="/cities">Cities</a>
    </div>
    <div class="card">
        <a href="/posting">Posting</a>
    </div>
    <div class="card">
        <a href="/places">Puntos turísticos</a>
    </div>
    <div class="card">
        <a href="/stay">Hospedaje</a>
    </div>
    <div class="card">
        <a href="/stadiums">Estadios</a>
    </div>
    
</div>