<div class="worldcup-bg">
  <div class="aurora"></div>
  <div class="particles"></div>

  <div class="login-container">
    <div class="login-card border-animated">

      <div class="header-wc text-center mb-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/fd/2026_FIFA_ World_Cup_bid_logo.png" class="wc-logo" />
        <h2 class="title">Mundial 2026 • Turismo</h2>
        <p class="subtitle">Explora ciudades sede, estadios y experiencias</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="animated-input" />
          <span class="focus-border"></span>
        </div>

        <div class="text-danger small" *ngIf="f['email'].invalid && f['email'].touched">
          Ingresa un correo válido
        </div>

        <div class="input-group mt-3">
          <label>Contraseña</label>
          <input type="password" formControlName="password" class="animated-input" />
          <span class="focus-border"></span>
        </div>

        <div class="text-danger small" *ngIf="f['password'].invalid && f['password'].touched">
          La contraseña debe tener al menos 6 caracteres
        </div>

        <button class="btn-login-neon" type="submit" [disabled]="loading">
          {{ loading ? "Cargando..." : "Entrar" }}
        </button>

        <button type="button" class="btn-login-neon" [routerLink]="['/register']">
        Registrar
      </button>
      </form>

      <div *ngIf="toastMessage" class="toast-custom">
        {{ toastMessage }}
      </div>

      <div class="flags mt-4">
        <img src="https://flagcdn.com/us.svg">
        <img src="https://flagcdn.com/mx.svg">
        <img src="https://flagcdn.com/ca.svg">
      </div>

    </div>
  </div>
</div>